.countdown {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .countdown h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000;
  }
  
  .countdown h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000;
  }
  
  .countdown p {
    font-size: 3rem;
    color: #555;
  }
  
  .countdown strong {
    color: #ff0000;
  }