.Footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.Footer p {
  margin: 0;
  font-size: 1rem;
}

.Footer a {
  color: #61dafb;
  text-decoration: none;
}
